#formulario{
  width:100%;
  margin:auto;
  max-width:425px;
  min-height:470px;
  background:url(../imagenes/BaseballGirl.jpg) no-repeat center;
  box-shadow:0 17px 40px 0 #f8c537;
  background-color: black;
}

#formulario,.boton {
  color:white;
  font-family: 'Dosis',Verdana;
  letter-spacing:1.5px;
}

form {
  padding: 70px 30px 0 30px;
  background-color: rgb(0,0,0,0.4);
  margin: 0 20px;
}

.registro {
  display:none;
}

.registro.current {
  display:inherit;
}

h1 {
  color:#f4e750;
  font-size:72px;
  font-family: 'Lalezar';
  text-align: center;
  opacity: 0.9;
}

span {
  margin-left: 20px;
}

.opciones {
  list-style: none;
  padding: 0;
  margin-top: -50px;
  margin-left: 20px;
}

.opciones li {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(0, 0, 0, 0.65);
  color: #a0b3b0;
  font-size: 18px;
  float: left;
  width: 40.1%;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}
.opciones li:hover {
  background: #c6ad53;
  color: #ffffff;
}
.opciones .current {
  background: #c9ac42;
  color: #ffffff;
}

label {
  display: inline-block;
  padding-top:7px;
  padding-left:10px;
  font-size:14px;
}

.check {

margin-left:0;

}

input, select {
  border: none;
  width: 89%;
  padding: 7px 10px;
  height: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
}

select {
  height: 35px;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.boton {
  border:0;
  border-radius: 40px;
  padding: 12px 0;
  font-size:16px;
  background:#c9ac42;
  width: 60%;
  margin: 30px 0;
  margin-left:20%;
}

.fechaNac {
  width:40%;
  display: inline-block;
}

.fechaNac input {
  width:130px;
  font-size: 14px;
  padding: 10px 10px;

}

.genero {
  margin-left: 40px;
  width:30%;
  display: inline-block;
}

.tarjeta {
  display:none;
}

input:valid {
  box-shadow: 0 0 7px #AAD661;
}

input:invalid {
  box-shadow: 0 0 7px #d45252;
}

input[type="radio"] {
  display:none;
  border:none;
}
input[type="radio"] + label {
  display:inline-block;
  width:17%;
  text-align: center;
  color:black;
  border-radius: 0;
  padding: 10px;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  transition: all 0.4s ease-in-out;
}
input[type="radio"]:checked + label,select:hover{
  background-color: #c9ac42;
  color: #fff;
}

input[type="checkbox"]{

  border: none;
  width: 20px;
  padding: 7px 10px;
  margin-top:30px;
  height: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
}